.header {
    background-color: #4285f4;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.header h1 {
    font-size: 24px;
}

.tabla-marcadores {
    background-color: aliceblue;
    margin: 20px auto;
    width: 80%;
}

.fila {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.equipo-local, .resultado, .equipo-visitante {
    flex-basis: 30%;
    text-align: center;
    font-size: 18px;
}

.resultado {
    color: #4285f4;
}

body {
    align-items: center;
        font-family: 'Verdana';
        color: black;
        font-weight: bold;
        margin: 0;
        padding: 0;
        background-image: url('../images/fondo.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        display: flex;
        flex-direction: column;	
        width:100%;
    }
    
    header {
        background-color: #0074e4;
        font-family: 'Comic Sans MS';
        font-weight: bold;
        font-size: 20px;
        color: #fff;
        text-align: center;
        width: 100%;
    }
    
    header h1 {
        font-size: 70px;
        margin: 0;
    background-color: #0074e4;
        font-family: 'Comic Sans MS';
    }
    
    header img {
        margin: 10px;
    }
    h1 {
        font-size: 70px;
        margin: 0;
    background-color: #0074e4;
        font-family: 'Comic Sans MS';
    }
    
    nav ul {
        background-color: #0074e4;
        color: #fff;
        list-style: none;
        padding: 0;
        display: flex;
        padding: 10px 0;
        justify-content: space-between;
        position: relative;
        z-index: 2;
    }
    
    nav ul li {
        position: relative;
    }
    
    nav ul li a {
        display: block;
        padding: ;
        text-decoration: none;
        color: #fff;
    }
    
    nav ul li ul {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #0074e4;
    }
    
    nav ul li:hover ul {
        display: block;
    }
    
    nav ul li ul li {
        width: 200px;
    }
    aside {
    margin-top: -200px;
        background-color: #f4f4f4;
        padding: 20px;
        border-left: 1px solid #ddd;
        width: 250px;
        height: 100% ; 
        color: rgb(225, 49, 49);
        right:0;
        z-index: -1;
     position: fixed;
    }
    
    .sidebar-mensaje {
        margin-top: 10px;
    }
    .busqueda {
        background-color: aliceblue;
        margin: 20px 0;
    }
    
    .busqueda label {
        font-size: 16px;
        margin-right: 10px;
    }
    
    .busqueda input[type="text"] {
        width: 200px;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
    }
    
    .busqueda button {
        background-color: #4285f4;
        color: #fff;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }  
    footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #0074e4;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    width: 100%;
}
h2{
    color:white;
    background-color:forestgreen; 
}
   @media screen and (max-width: 600px) {
    nav ul {
        flex-direction: column;
    }
    


    
    