body {
align-items: center;
    font-family: 'Verdana';
    color: white;
    font-weight: bold;
    margin-right: -200px;
    padding: 0;
    background-image: url('../images/fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex; 
    flex-direction: column;
    width:80%;
}

header {
    background-color: #0074e4;
    font-family: 'Comic Sans MS';
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    text-align: center;
    width: 100%;
margin-right: 60px;
margin-top:-10px;
}

header h1 {
    font-size: 70px;
    margin: 0;
background-color: #0074e4;
    font-family: 'Comic Sans MS';
}

header img {
    margin: 10px;
}
h1 {
    font-size: 70px;
    margin: 0;
background-color: #0074e4;
    font-family: 'Comic Sans MS';
}

nav ul {
    background-color: #0074e4;
    color: #fff;
    list-style: none;
    padding: 0;
    display: flex;
    padding: 10px 0;
    justify-content: space-between;
    position: relative; 
    z-index: 2;
}

nav ul li {
    position: relative;
}

nav ul li a {
    display: block;
    padding: ;
    text-decoration: none;
    color: #fff;
}

nav ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #0074e4;
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul li {
    width: 200px;
}
aside {
margin-top:-10px;
    background-color: #f4f4f4;
    padding: 20px;
    border-left: 1px solid #ddd;
    width: 250px;
    height: 100% ; 
    color: rgb(225, 49, 49);
    right:0;
    z-index: -1;
 position: fixed;
}

.sidebar-mensaje {
    margin-top: 10px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #0074e4;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    width: 77.7%;
}
.main {
    margin-top:100px;
    padding: 20px;
    flex: 1; /* Ocupa el espacio restante */
    display: flex; /* Cambio a flexbox para mantener el contenido en filas */
    flex-direction: row; /* Alinea los elementos horizontalmente */
 
}

.boton-amarillo {
    background-color: #ffc107;
    color: black;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
    border-radius:10px;
    font-size: 25px;
    
}

.boton-amarillo:hover {
    background-color: #ff9800;
}

@media screen and (max-width: 600px) {
    nav ul {
        flex-direction: column;
    }