body {
align-items: center;
    font-family: 'Verdana';
    color: black;
    font-weight: bold;
    margin: 0;
    padding: 0;
    background-image: url('../images/fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex; 
    flex-direction: column; 	
    width:100%;
}

header {
    background-color: #0074e4;
    font-family: 'Comic Sans MS';
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    text-align: center;
    width: 100%;
}

header h1 {
    font-size: 70px;
    margin: 0;
background-color: #0074e4;
    font-family: 'Comic Sans MS';
}

header img {
    margin: 10px;
}
h1 {
    font-size: 70px;
    margin: 0;
background-color: #0074e4;
    font-family: 'Comic Sans MS';
}

nav ul {
    background-color: #0074e4;
    color: #fff;
    list-style: none;
    padding: 0;
    display: flex; /* Cambio a flexbox para alinear el menú */
    padding: 10px 0;
    justify-content: space-between; /* Distribuye los elementos en el espacio disponible */
    position: relative; /* Añade posición relativa */
    z-index: 2; /* Añade un índice z para estar encima del sidebar */
}

nav ul li {
    position: relative;
}

nav ul li a {
    display: block;
    padding: ;
    text-decoration: none;
    color: #fff;
}

nav ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #0074e4;
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul li {
    width: 200px;
}
aside {

    background-color: #f4f4f4;
    padding: 20px;
    border-left: 1px solid #ddd;
    width: 250px;
    height: 100% ; 
    color: rgb(225, 49, 49);
    right:0;
    z-index: -1;
 position: fixed;
}

.sidebar-mensaje {
    margin-top: 10px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #0074e4;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    width: 100%;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
}

.card {
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    width: 30%;
    text-align: center;
}

.card h2 {
    margin-bottom: 10px;
    color: #333;
}


.alta {
    border-top: 5px solid #4CAF50;
}

.baja {
    border-top: 5px solid #F44336;
}

.modificacion {
    border-top: 5px solid #2196F3;
}

.consulta {
    border-top: 5px solid #FFC107;
}
a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
}

    a:link {
        color: white;
    }

    a:focus {
        border-bottom: 1px solid;
        background: #bae498;
    }

    a:hover {
        border-bottom: 1px solid;
        background: #419A00;
    }

    a:active {
        background: #265301;
        color: yellow;
    }
    #grid_solicitudes{
        z-index: -1;
        position: relative;
    }
@media screen and (max-width: 600px) {
    nav ul {
        flex-direction: column;
    }